/*
Project Name: VR Practices for Youth and Young Adults 
Client: RRTC
Author: Hyun Masiello
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* ie 6/7 */
}

/******************************************
/* BASE STYLES
/*******************************************/
/*
colors:

*/

html {
	color: #444545;
	font-family: 'Helvetica', sans-serif;
	font-weight: 200;
	font-size: 1em;
}

body {
	padding: 0px 15px;
}

header {
	padding-top: 50px;
}

a {
	color: #025380;
	text-decoration: none;
}

a:hover {
	color: #1B75BC;
}

nav {
	font-size: 1.5em;
	padding: 160px 0px 40px 20px;
	font-family: 'Fjalla One', sans-serif;
}

/* Makes the navigation visible for mobile */
nav [aria-hidden="true"] {
	display: block;
}

/* Now do the usual desktop pattern */
@media (min-width: 768px) {
	[role="menu"][aria-hidden="true"] {
		display: none;
	}
}

nav ul {
	list-style-type: none;
	display: inline-block;
	text-align: left;
}

nav ul li {
	padding: 15px 0px 15px 30px;
	margin: 0;
	position: relative;
	width: 400px;
}

nav ul ul {
	margin-left: 15px;
	box-shadow: 0 6px 12px 
	rgba(0, 0, 0, 0.175);
}

nav ul ul li {
	background: white;
	display: block;
	padding: 15px 10px;
}

@media (min-width: 768px) {

	nav {
		text-align: right;
	}
	nav ul ul {
		display: none;
	}

	nav ul li {
		display: inline;
		padding-left: 30px;
	}

	nav ul ul {
		left: 0;
		min-width: 100%;
		margin-left: 0;
		padding: 10px 0 0;
		position: absolute;
		top: 100%;
		z-index: 2;
	}

	nav ul ul li {
		margin: 0;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 10px;
	}

	nav ul ul li:last-child {
		padding-bottom: 15px;
	}

	.showMenu {
		display: block;
	}
}

img {
	max-width: 100%;
}

h1 {
	color: #444545;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2.5em;
	padding: 5px 0px 15px 0px;
	line-height: 1.5;
	text-transform: uppercase;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.75em;
	line-height: 1.5;
	padding: 20px 0px 5px 0px;
	text-transform: uppercase;
}

h3 {
	font-size: 1.25em;
	line-height: 1.3;
	padding: 20px 0px 5px 0px;
	color: #58595B;
	font-weight: 400;
}

p {
	color: #58595B;
	font-size: 1em;
	line-height: 1.5;
	padding-bottom: 10px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ol {
	list-style: decimal;
}

ol li {
	color: #58595B;
	font-size: 1em;
	line-height: 1.5;
	padding-bottom: 10px;
	margin-left: 40px;
}

ul {
	list-style: circle;
}

ul li {
	color: #58595B;
	font-size: 1em;
	line-height: 1.5;
	padding-bottom: 10px;
	margin-left: 40px;
}

hr {
	border: 0;
	border-top: 1px solid;
	color: #94A7BD; 
}

footer {
	padding: 40px 0px 40px 0px;
	text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 1000px;
	margin: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.contact a.hover {
	color: white;	
	background: #AD0737;
}

.contact {
	background-color: #C7315C;
	color: white;
	padding: 10px;
}

.toggle {
	cursor: pointer;
}

.advisory {
	padding-left: 20px;
}

.funding {
	text-align: center;
	padding: 8px;
	margin: 20px 10px;
}

.logo {
	padding-top: 10px;
}

/* Partner logos in footer */

.meet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 20px;
}

.meet_img {
	text-align: center;
	margin: 15px 0px;
	max-width: 250px;
}

@media (min-width: 768px) {
	.meet_img {
		max-width: 160px;
	}
	.square {
		max-width: 110px;
	}
}

.meet:nth-of-type(1) .meet_img {
	margin-left: 0
}

.meet:nth-of-type(3) .meet_img {
	margin-right: 0
}

.mainphoto1 {
	padding: 35px 35px 350px;
	margin: 18px 0px;
	background-size: cover;
	background-position: center center;
	background-image: url('MainImage.jpg');
}

.mainphoto {
	padding: 36px 35px 150px;
	margin: 18px 0px;
	background-size: cover;
	background-position: center center;
}

.homepage {
	text-align: center;
	padding: 20px 0px;
}

.homepageheaderlink {
	color: white;
}

.sitemap {
	font-size: 1em;
	line-height: 1;
	padding: 40px 0px 20px 0px;
}

.readless {
	color:#47A5DC;
	text-decoration: none;
}

.homepageheader a:hover{
	color: #08263A;
}

.homepageheader {
	color: white;
	font-family: 'Fjalla One', Arial, sans-serif;
	font-size: 2.5em;
	line-height: 1.25;
}

.studyname {
	font-family: 'Helvetica', san-serif;
	font-size: .6em;
	padding: 1px 50px;
	width: 400px;
}

/* hides the read less */
.collapse {
	display: none;
}

/* hides the paragraph of text that will slide down */
[aria-hidden="true"] {
	display: none;
}

.backgroundimage {
	background-image: url('BackgroundDesign.png');
}

.hideCollaboration1 {
	display: none;
}

.icons {
	height: 210px;
	width: 200px;
	margin: 20px 10px;
	text-align: center;
	color: #AD0737;
	fill: #AD0737;;
}

.iconimage {
	margin: 20px;
}

.news {
	border: 1px black solid;
	background: gray;
	height: 200px;
	width: 200px;
	margin: 20px 10px;
	opacity: .5; 
	text-align: center;
}

.overlay {
	height: 192px;
	width: 21%;
	background: white;
	margin: -35px -35px 0px 800px;
	opacity: .5; 
	float: right;
}

.overlay1 {
	height: 192px;
	width: 21%;
	background: #245E87;
	margin: 0px -35px 0px 800px;
	opacity: .5; 
	float: right;
}


/******************************************
/* RESPONSIVE
/*******************************************/

/* screens wider than 768px take these styles */
@media (min-width: 768px) {

	.news {
		width: 31%;
		float: left; 
	}

	.icons {
		width: 31%;
		float: left; 
	}

	.logo {
		float: left;
	}

	.meet {
		float: left;
		width: 20%;
	}

	.meet_img {
		display: block;
		padding-left: 40px;
	}

	.partners{
		padding-top: 15px;
	}

	.partnerdescription {
		float: right;
		width: 75%;
	}

	.partnerlogos {
		float: left;
		width: 25%;
		padding-right: 10px;
	}

	.homepageheader {
		font-size: 4.5em;
}

} /*closing the media*/
