/*
Project Name: VR Practices for Youth and Young Adults
Client: RRTC
Author: Hyun Masiello
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* ie 6/7 */
}

/******************************************
/* BASE STYLES
/*******************************************/
/*
COLORS:
	Text Colors:
		Navy Blue - #025380
		Hover Blue - #1B75BC
		Dark Red - #AD0737
		Hover Red - #C7315C
	Horizontal Line:
		Teal - #94A7BD
	Text
		Dark Grey - #444545
*/

html {
	color: #444545;
	font-family: 'Helvetica', sans-serif;
	font-weight: 200;
	font-size: 1em;
}

body {
	padding: 0px 15px;
}

header {
	padding-top: 50px;
}

footer {
	padding: 40px 0px 40px 0px;
	text-align: center;
}

img {
	max-width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid;
	color: #94A7BD;
}



/******************************************
/* NAVIGATION
/*******************************************/

nav {
	font-size: 1.5em;
	padding: 160px 0px 40px 20px;
	font-family: 'Fjalla One', sans-serif;
}

nav ul {
	list-style-type: none;
	display: inline-block;
	text-align: left;
}

nav ul li {
	padding: 15px 0px 15px 30px;
	margin: 0;
	position: relative;
	width: 400px;
}

nav ul ul {
	margin-left: 15px;
	box-shadow: 0 6px 12px
	rgba(0, 0, 0, 0.175);
}

nav ul ul li {
	background: white;
	display: block;
	padding: 15px 10px;
}

	/* Makes the navigation visible for mobile */
	nav [aria-hidden="true"] {
		display: block;
	}

	/* Now do the usual desktop pattern */
	@media (min-width: 768px) {
		[role="menu"][aria-hidden="true"] {
			display: none;
		}

		nav {
			text-align: right;
		}
		nav ul ul {
			display: none;
		}

		nav ul li {
			display: inline;
			padding-left: 30px;
		}

		nav ul ul {
			left: 0;
			min-width: 100%;
			margin-left: 0;
			padding: 10px 0 0;
			position: absolute;
			top: 100%;
			z-index: 2;
		}

		nav ul ul li {
			margin: 0;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 10px;
		}

		nav ul ul li:last-child {
			padding-bottom: 15px;
		}

		.showMenu {
			display: block;
		}
	}

/******************************************
/* TEXT STYLES
/*******************************************/

h1 {
	color: #444545;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2.5em;
	line-height: 1.5em;
	padding: 5px 0px 15px 0px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.75em;
	line-height: 1.5;
	padding: 20px 0px 5px 0px;
	text-transform: uppercase;
}

h3 {
	font-size: 1.25em;
	line-height: 1.3;
	padding: 20px 0px 5px 0px;
	color: #58595B;
	font-weight: 400;
}

p {
	color: #58595B;
	font-size: 1em;
	line-height: 1.5;
	padding-bottom: 10px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: #025380;
	text-decoration: none;
}

a:hover {
	color: #1B75BC;
}

/******************************************
/* LIST STYLES
/*******************************************/

ol {
	list-style: decimal;
}

ol li {
	color: #58595B;
	font-size: 1em;
	line-height: 1.5;
	padding-bottom: 10px;
	margin-left: 40px;
}

ul {
	list-style: circle;
}

ul li {
	color: #58595B;
	font-size: 1em;
	line-height: 1.5;
	padding-bottom: 10px;
	margin-left: 40px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 1000px;
	margin: auto;
}

/******************************************
/* CONTACT US BOX IN FOOTER
/*******************************************/
	button {
		background-color: white;
		display: flex;
		justify-content: flex-end;
		margin: 30px 0px;
		padding: 5px;
		box-shadow: 5px 5px 5px black;
		border: none;
	}

	button h2 {
		padding: 3px;
		color: #AD0737;
	}

	.contactusbox {
		background-color: #025380;
	}

	.contactform {
		padding: 5px;
		border: .5px grey solid;
		font-family: Helvetica, sans-serif;
		color: #58595B;
		font-size: 1.25em;
		line-height: 1.5;
		display: block;
		margin-bottom: 40px;
		width: 100%;
	}

	.contactnature {
		color: white;
		text-align: left;
		font-weight: 200;
		padding: 0px;
	}

	.select {
		padding: 5px;
		border: .5px grey solid;
		border-radius: 0px;
		margin-bottom: 40px;
		background-color: white;
		display: block;
		width: 100%;
		position: relative;
	}

	.select svg {
		width: .65em;
		height: .65em;
		position: absolute;
		top: 15px;
		right: 5px;
		z-index: 1;
	}

	.select select {
		-webkit-appearance: none;
		-moz-appearance: none;
		border: none;
		border-radius: 0;
		padding: 3px 0px;
		background-color: transparent;
		display: block;
		position: relative;
		z-index: 2;
		font-size: 1.25em;
		line-height: 1.15;
		width: 100%;
		color: #58595B;
	}

	textarea {
		padding: 5px;
		border: .5px grey solid;
		color: #58595B;
		font-size: 1.25em;
		line-height: 1.5;
		display: block;
		border-radius: 0px;
		width: 100%;
		text-align: left;
		min-height: 150px;
	}

	.contactustext {
		color: white;
		text-align: left;
		padding: 40px 0px;
	}

	h1.contactustext{
		font-size: 3.5em;
		padding-right: 0px;
		line-height: 1em;
	}

	p.contactustext{
		font-size: .9em;
		line-height: 1.30;
	}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*about us section width modifcation*/
	.aboutus {
		width: 190px;
	}

/*p body indentation*/
	.advisory {
		padding-left: 20px;
	}

/* hides the paragraph of text that will slide down */
	[aria-hidden="true"] {
		display: none;
	}

/*hides the read less */
	.collapse {
		display: none;
	}

/*contact us nav button*/
	.contact {
		background-color: #AD0737;
		color: white;
		padding: 10px;
		transition: background-color .5s;
	}

	.contact:hover {
		background-color: #C7315C;
		color: white;
	}

/*funding statement in footer*/
	.funding {
		text-align: center;
		padding: 8px;
		margin: 20px 10px;
	}

.hideCollaboration1 {
	display: none;
}

/*homepage header text*/
	.homepagetitle {
		text-align: center;
		padding-top: 20px;
	}

	.homepagetext {
		text-align: center;
		padding: 5px 0px 30px 0px;
		font-size: 1.25em;
	}

/*homepage icon section*/
	.icons {
		height: 210px;
		width: 200px;
		margin: 20px 10px;
		text-align: center;
		color: #AD0737;
	}

	.iconimage {
		margin: 20px;
		fill: #AD0737;
	}

/*RRTC logo*/
	.logo {
		padding-top: 10px;
	}

/*homepage hero image*/
	.heroimage1 {
		padding: 35px 35px 350px;
		margin: 18px 0px;
		background-size: cover;
		background-position: center center;
		background-image: url('MainImage.jpg');
	}

/*other pages hero image*/
	.heroimage2 {
		background-image: url('BackgroundDesign.png');
		padding: 36px 35px 150px;
		margin: 18px 0px;
		background-size: cover;
		background-position: center center;
	}

/* partner logos in footer */
	.meet {
		display: flex;
		justify-content: center;
		padding: 40px 20px;
	}

	.meet_img {
		text-align: center;
		margin: 15px 0px;
		max-width: 250px;
		max-width: 160px;
	}

	.meet:nth-of-type(1) .meet_img {
		margin-left: 0
	}

	.meet:nth-of-type(3) .meet_img {
		margin-right: 0
	}

	.meetsquare {
		max-width: 110px;
			}

/*homepage news section*/
	.news {
		border: .5px grey solid;
		height: 200px;
		width: 200px;
		margin: 40px 10px;
		text-align: center;
	}

.readless {
	color:#47A5DC;
	text-decoration: none;
}

/*sign up form*/
	.signup {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.signupbutton {
		background: #AD0737;
		padding: 9px 10px 10px;
		margin-left: -1px;
		color: white;
		border: none;
	}

	.signupform {
		padding: 3px 10px;
		border: .1px grey solid;
		font-family: Helvetica, sans-serif;
		color: #58595B;
		font-size: 1em;
		line-height: 1.5;
	}

/*sitemap in footer*/
	.sitemap {
		font-size: 1em;
		line-height: 1;
		padding: 40px 0px;
	}

	.studyname {
		font-family: 'Helvetica', sans-serif;
		font-size: .6em;
		padding: 1px 50px;
		width: 400px;
	}

.toggle {
	cursor: pointer;
}

/******************************************
/* RESPONSIVE
/*******************************************/

/* screens wider than 768px take these styles */
@media (min-width: 768px) {

	.contactleft {
		width: 35%;
		float: left;
		padding-left: 40px;
	}

	.contactright {
		width: 65%;
		float: left;
		padding: 0px 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.homepageheader {
		font-size: 4.5em;
	}

	.icons {
		width: 31%;
		float: left;
	}

	.logo {
		float: left;
	}

	.footerlogos {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.meet_img {
		display: block;
		padding-left: 40px;
	}

	.news {
		width: 31%;
		float: left;
	}

	.partners{
		padding-top: 15px;
	}

	.partnerdescription {
		float: right;
		width: 75%;
	}

	.partnerlogos {
		float: left;
		width: 25%;
		padding-right: 10px;
	}
}
/*closing the media*/
